<div class="user">
    <header class="user__header">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
	<link rel="stylesheet" href="/static/css/remove.css">
	<script src="/static/js/remove.js"></script>
        <h1 class="user__title">Type in an account ID to remove it</h1>
    </header>
    
    <form class="form" action="/admin/remove" method="post">
        <div class="form__group">
            <input type="text" name="id" placeholder="ID" class="form__input" />
	        <input type="submit" value="Remove account" class="btn" />
        </div>
    </form>
</div>
